header{

background:#d62828;

padding:18px 40px;

}

nav{

display:flex;

justify-content:space-between;

align-items:center;

}

.logo{

font-size:28px;

font-weight:bold;

color:white;

}

.login-btn{

background:white;

padding:12px 20px;

border-radius:10px;

font-weight:bold;

color:#d62828;

}

.hero{

padding:50px;

text-align:center;

background:linear-gradient(135deg,#1d3557,#457b9d);

color:white;

}

.container{

display:grid;

grid-template-columns:1fr 1fr;

gap:30px;

padding:40px;

}

.left{

background:white;

padding:30px;

border-radius:18px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.left h2{

margin-bottom:20px;

}

.left input,

.left textarea,

.left select{

width:100%;

padding:14px;

margin-bottom:15px;

border-radius:10px;

border:1px solid #ddd;

font-size:16px;

}

.buttons{

display:flex;

gap:15px;

}

.buttons button{

flex:1;

padding:15px;

border:none;

border-radius:10px;

background:#d62828;

color:white;

font-size:16px;

cursor:pointer;

}

.buttons button:hover{

background:#b71c1c;

}

#map{

height:600px;

border-radius:18px;

box-shadow:0 10px 25px rgba(0,0,0,.1);

}

@media(max-width:900px){

.container{

grid-template-columns:1fr;

}

#map{

height:400px;

}

}
.statusCard{

margin-top:20px;

padding:20px;

background:white;

border-radius:15px;

box-shadow:0 5px 20px rgba(0,0,0,.08);

}

#liveStatus{

font-size:20px;

font-weight:bold;

color:#0B5ED7;

}
.statusCard{

margin-top:25px;

padding:25px;

background:#fff;

border-radius:18px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}

#liveStatus{

font-size:20px;

font-weight:bold;

margin-bottom:30px;

color:#0B5ED7;

text-align:center;

}

.tracker{

display:flex;

justify-content:space-between;

align-items:flex-start;

margin-top:20px;

position:relative;

}

.step{

display:flex;

flex-direction:column;

align-items:center;

width:120px;

z-index:2;

}

.circle{

width:45px;

height:45px;

border-radius:50%;

background:#d9d9d9;

color:white;

display:flex;

justify-content:center;

align-items:center;

font-weight:bold;

font-size:18px;

transition:.3s;

}

.step p{

margin-top:10px;

font-size:14px;

font-weight:600;

text-align:center;

}

.line{

flex:1;

height:5px;

background:#d9d9d9;

margin-top:20px;

transition:.3s;

}

.step.active .circle{

background:#28a745;

transform:scale(1.1);

box-shadow:0 0 15px rgba(40,167,69,.5);

}

.line.active{

background:#28a745;

}
