/* ==========================
   LifeLine AI Assistant
========================== */

#openAssistant{

position:fixed;

bottom:25px;

right:25px;

width:70px;

height:70px;

border:none;

border-radius:50%;

background:#0B5ED7;

color:white;

font-size:30px;

cursor:pointer;

box-shadow:0 10px 25px rgba(0,0,0,.25);

z-index:9999;

transition:.3s;

}

#openAssistant:hover{

transform:scale(1.08);

}

#hospitalAssistant{

position:fixed;

bottom:110px;

right:25px;

width:400px;

height:600px;

background:white;

border-radius:20px;

overflow:hidden;

display:none;

flex-direction:column;

box-shadow:0 20px 45px rgba(0,0,0,.25);

z-index:9999;

}

#hospitalAssistant.show{

display:flex;

animation:popup .3s ease;

}

@keyframes popup{

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

transform:translateY(0);

}

}

.assistantHeader{

background:#0B5ED7;

color:white;

padding:18px;

display:flex;

justify-content:space-between;

align-items:center;

font-size:20px;

font-weight:bold;

}

.assistantHeader button{

background:none;

border:none;

color:white;

font-size:25px;

cursor:pointer;

}

#hospitalChatMessages{

flex:1;

padding:18px;

overflow-y:auto;

background:#F4F7FC;

}

.user{

background:#0B5ED7;

color:white;

padding:12px;

border-radius:15px 15px 0 15px;

margin-bottom:12px;

margin-left:60px;

word-wrap:break-word;

}

.bot{

background:white;

padding:12px;

border-radius:15px 15px 15px 0;

margin-bottom:12px;

margin-right:60px;

box-shadow:0 3px 10px rgba(0,0,0,.1);

word-wrap:break-word;

}

.assistantFooter{

display:flex;

padding:12px;

background:white;

border-top:1px solid #ddd;

}

#hospitalChatInput{

flex:1;

padding:12px;

border:1px solid #ccc;

border-radius:10px;

outline:none;

font-size:15px;

}

#hospitalSendBtn{

margin-left:10px;

padding:12px 20px;

background:#0B5ED7;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

}

.quickButtons{

display:flex;

flex-wrap:wrap;

gap:8px;

padding:10px;

background:#F8FAFC;

border-bottom:1px solid #eee;

}

.quickButtons button{

padding:8px 12px;

border:none;

border-radius:20px;

background:#E3F2FD;

cursor:pointer;

font-size:13px;

transition:.2s;

}

.quickButtons button:hover{

background:#0B5ED7;

color:white;

}