.topbar{

display:flex;

justify-content:space-between;

align-items:center;

background:white;

padding:20px;

border-radius:15px;

box-shadow:var(--shadow);

}

.right{

display:flex;

gap:20px;

align-items:center;

}

.clock{

font-weight:600;

color:var(--primary);

}